@media only screen and (max-width: 75em) {
  /* Project Overview */
  .container {
    padding: 1rem 2rem;
  }

  .proj-title {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .proj-desc p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .prj-btn {
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 65em) {
}

@media only screen and (max-width: 48em) {
}

@media (max-width: 36em) {
  section {
    padding: 1.5rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 6.5rem;
    padding: 1rem 0 0.2rem;
  }

  h1 .name {
    color: var(--secondary-color);
    letter-spacing: -5px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 3rem 0;
  }

  .hero h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 5rem 0 1rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    width: 20rem;
  }

  .cta-btn .btn-cstm-outline {
    display: none;
  }

  /* Navigation */
  nav ul {
    text-align: left;
  }

  /* Project Overview */
  .container {
    padding: 1rem 2rem;
  }

  .proj-preview {
    padding: 4rem 1rem 5rem;
  }

  .proj-title {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .proj-desc p {
    font-size: 0.9rem;
    padding-right: 2rem;
  }

  .prj-btn {
    padding-top: 1.5rem;
  }

  /* Footer */
  footer {
    padding: 2rem;
  }
  footer .logo {
    width: 7rem;
  }

  .page-desc {
    font-size: 2rem;
  }

  footer p {
    padding-top: 0.8rem;
  }
}

@media only screen and (max-width: 30em) {
}
