@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

:root {
  --primary-color: #8cffa5;
  --secondary-color: #bcb6ff;
  --black: #1e0c13;
  --white: #fbfffef8;
  --minor-btn-bg: #eaffee;
  --bs-emphasis-color-rgb: #bcb6ff;
  --text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

body,
html {
  background-color: var(--white);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inria Sans", sans-serif;
}

/* TEXT STYLES */

h1 {
  font-size: 9.4rem;
  font-weight: 900;
  line-height: 10rem;
  padding: 3.125rem 0 2rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 3rem 0;
}

h3 {
  font-size: 2.34rem;
  font-weight: 700;
  line-height: 3rem;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  width: 30rem;
  margin: auto;
}

a {
  display: inline-block;
  color: var(--primary-color);
  padding: 0.3rem;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

p {
  justify-content: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  text-align: center;
}

section {
  padding: 4rem;
}

/* NAVOGATION */

nav {
  background-color: var(--primary-color);
  border-bottom: var(--black) 2px solid;
}

.navbar-nav .nav-link {
  color: var(--black);
  font-weight: bold;
}

.navbar-nav {
  padding: 0.7rem 3rem;
}

.navbar li {
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .nav-item {
  border: solid 0.8px transparent;
}
.navbar .nav-item:hover {
  background-color: var(--secondary-color);
  border: solid 0.8px var(--black);
  color: var(--white);
}

.container-fluid img {
  padding: 0.7rem 3rem;
  gap: 20px;
}

/* BUTTONS */

.cta-btn {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  justify-content: center;
  margin: 0 10px;
}

.btn-custom,
.btn-cstm-outline {
  align-items: center;
  border: 2px solid var(--black);
  box-shadow: 6px 6px 0 0 var(--black);
  box-sizing: border-box;
  display: flex;
  font-size: 1.3rem;
  height: 3rem;
  justify-content: center;
  line-height: 1.5rem;
  max-width: 100%;
  padding: 1.2rem 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;

  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-custom {
  background-color: var(--primary-color);
}
.btn-cstm-outline {
  background-color: var(--minor-btn-bg);
}

.cta-btn .btn-custom:hover,
.cta-btn .btn-cstm-outline:hover {
  transform: translateY(10px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  outline: 0;
}

/* PROJECT OVERVIEW*/
.container {
  padding: 5rem 7rem;
}
.proj-card {
  background-color: transparent;
  border: solid 1.5px var(--black);
  box-shadow: 6px 6px 0 0 var(--black);
  padding: 0;
}

.proj-desc {
  padding: 2rem 2.5rem;
}

.proj-title {
  font-weight: 900;
  padding: 0 0 2.5rem;
  margin-left: 0;
  text-align: left;
  width: 20rem;
}

.img-fluid {
  border-right: solid 1.5px var(--black);
  object-fit: cover;
}

.proj-desc h5 {
  margin-bottom: 0.5rem;
}

.proj-desc p {
  font-size: 1.25rem;
  line-height: 2rem;
  overflow: hidden;
  max-height: 10rem; /* Adjusted max-height for 3 lines of text */
  white-space: normal; /* Change white-space to normal */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
  padding-right: 1rem;
}
.fe-stack {
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: 1.3rem;
}

.prj-btn {
  padding-top: 2rem;
}

.prj-btn .btn-cstm-outline {
  border: solid 1.5px var(--black);
  box-shadow: none;
  background: linear-gradient(
    to right,
    #eaffee 50%,
    var(--secondary-color) 50%
  );
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

.prj-btn .btn-cstm-outline:hover {
  background-color: var(--secondary-color);
  background-position: -100% 0;
}

/* FOOTER */

footer {
  border-top: 2px solid var(--black);
  background-color: var(--primary-color);
  justify-content: left;
  padding-bottom: 0;
}

.page-desc {
  text-align: left;
}

.social-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-links li {
  text-align: left;
}

.social-links li a {
  color: #e8e9d9;
  display: flex;
  font-size: 1.2rem;
  padding: 0;
  text-shadow: 0px 2.857px 2.857px rgba(0, 0, 0, 0.25);
}

/*ABOUT PAGE*/

/*HERO SECTION*/
.hero-heading {
  font-size: 9.4rem;
  font-weight: 900;
  line-height: 10rem;
  padding-top: 3rem;
  text-align: center;
}

.hero-text-medium {
  font-size: 1.5rem;
  padding: 5rem 8rem;
  text-align: center;
  margin: auto;
}

/*CONTACT PAGE*/
.form {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container-form {
  padding-top: 0;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 1rem/1.2rem "Inria Sans", sans-serif;
}

#contact {
  background: var(--minor-btn-bg);
  border: 1px solid var(--black);
  box-shadow: 6px 6px 0 0 var(--black);
  padding: 25px;
  margin: 0;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid var(--black);
  background: var(--white);
  margin: 0 0 0.3rem;
  padding: 0.9rem;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--black);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: 1px solid var(--black);

  background: var(--bs-emphasis-color-rgb);
  color: var(--black);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--bs-emphasis-color-rgb);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: none;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid var(--black);
}
::-webkit-input-placeholder {
  color: var(--black);
}
:-moz-placeholder {
  color: var(--black);
}
::-moz-placeholder {
  color: var(--black);
}
:-ms-input-placeholder {
  color: var(--black);
}

.note {
  width: 40rem;
  opacity: 70%;
  margin: 0 auto;
}

/* PROJECTS PAGE */

.project-set {
  padding-top: 0;
  padding-bottom: 5rem;
}

.project-set .row .project-img {
  gap: 0;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
  border: solid 2px var(--black);
}

.project-set .img-fluid:hover {
  transform: scale(1.1);
}

/* BLOGS PAGE */

section .hero-text-medium {
  padding-top: 2rem;
  padding-bottom: 10rem;
}
.design h3 {
  text-align: left;
}
.design-title {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.design h5 {
  padding-top: 2rem;
  width: 70%;
}

section .container-fluid {
  padding: 0 7rem;
}

.cards .row .col-lg-4 {
  padding-bottom: 4rem;
}

.card {
  border: 2px solid var(--black);
  border-radius: 0;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 6px 6px 0 0 var(--black);
}

.card-img,
.card-img-top {
  border-radius: 0;
}
.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.5rem;
  overflow: hidden;
  max-height: 10rem;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  padding-right: 1rem;
}

.blog-link {
  color: var(--black);
  font-weight: 500;
  opacity: 0.7;
  font-style: italic;
}

.blog-link:hover {
  color: #3278da;
  opacity: 1;
}

.resources-mockup,
.resources-task-mgnt,
.resources-design-tool,
.resources-illustration,
.courses {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 0;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.resources-mockup:hover,
.resources-task-mgnt:hover,
.resources-design-tool:hover,
.resources-illustration:hover,
.courses:hover {
  box-shadow: 15px 10px 0 0 var(--black);
  transform: translateY(-10px) translateX(-10px);
}

.resources-task-mgnt:hover,
.resources-illustration:hover {
  background-color: var(--secondary-color);
}
.resources-mockup:hover {
  background-color: var(--primary-color);
}
.resources-design-tool:hover {
  background-color: rgb(245, 156, 171);
}

.course-provider {
  line-height: 2rem;
}

.udemy {
  background-color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
}

.coursera {
  background-color: #76b1ff;
  font-weight: 600;
  text-transform: uppercase;
}
